<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SupabaseUrl" value="https://xulxvorvdykxkbxwgbhl.supabase.co" />
		<add key="SupabaseAnonKey" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1bHh2b3J2ZHlreGtieHdnYmhsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MzAxOTEzNSwiZXhwIjoyMDU4NTk1MTM1fQ.YMyzsHdoSMXTTZtROztbeptNwjE-8nRKprhI1B5ySaU"/>
		<add key="AcceptedStatusUUID" value="8984a335-15d9-4566-8fde-456f1b66d9de" />
		<add key="PreparingStatusUUID" value="88213cf8-86f4-4263-8908-5f0fcc20d154" />
		<add key="ReadyForPickupStatusUUID" value="84de0d02-3583-45a3-aeec-30b03c0a75a9"/>
		<add key="AwaitingCourierStatusUUID" value="695a0bfa-5ec0-4839-b4fd-18289cc134d4" />
		<add key="DeliveryTypeUUID" value="d489e837-2785-427c-a1bc-72a6952c4abb" />
		<add key="InTransitStatusUUID" value="29dcf392-bd10-46d5-8c45-31535f2ca73b" />
		<add key="CompletedStatusUUID" value="039d1b67-5dfd-4190-bb41-3cdc125b5ae2" />
		<add key="PackagingPickupTypeUUID" value="ba6d6a7a-2e2f-414b-b76f-6232441839ea" />
		<add key="PickupTypeUUID" value="4ad43fb7-e061-4f1f-ab94-304747a1d5ac"/>
		<add key="CancelledStatusUUID" value="84d23141-53f0-4877-9d08-ec8c83c7b808"/>
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>